nav {
    margin-bottom: 5rem;
}

.about-container img {
    width: 100px;
    /* border: 0.3rem solid #fff; */
    border-radius: 50%;
}

.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fcfcfc;
    background: #dfa622;
    width: 50rem;
    height: 22rem;
    padding: 0 4rem;
    text-align: center;
}

.about-container::after {
    content: '';
    width: 10rem;
    height: 10rem;
    background: #fcfcfc;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: -60px;
    border: 6px solid #303030;
}

.tag {
    position: fixed;
    right: 4rem;
    top: 6rem;
    font-size: 80px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    opacity: .1;
}

.bg-print {
    position: absolute;
    top: -30px;
    right: -30px;
    transform: rotate(45deg);
    z-index: 100;
}

#sidebar {
    background: #303030af;
}

footer {
    margin-top: 4rem;
}