@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

p {
  font-size: 0.6rem;
  line-height: 1.5;
  color: #fcfcfc;
}

b {
  color: #dfa622;
}

h4 {
  color: #fcfcfc;
}

img {
  object-fit: cover;
  width: 100%;
  display: block;
}

.container {
  margin: 0 4rem;
}

a,
i {
  color: #fcfcfc;
}

/* Navbar */
nav {
  height: 5rem;
  display: grid;
  font-size: 0.9rem;
  background: #303030;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 40px;
  animation: gelatine 400ms linear;
  z-index: 100;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-item a:hover {
  color: #dfa622;
  transition: all 400ms ease;
}

.contact {
  background: #dfa622;
  padding: 0.9rem 1.4rem;
  box-shadow: 0 3px 8px #292727;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact:hover {
  background: #dfa62200;
  cursor: pointer;
}

/* hero page */

b {
  color: #dfa622;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  background: #303030;
}

.content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  padding: 5rem 0;
}

.content h1 {
  font-size: 8rem;
}

.main-text {
  color: #fcfcfc;
}

.info-txt {
  display: grid;
  gap: 1rem;
}

.info {
  text-align: right;
}

/* sidebar */
.sidebar {
  background: #dfa622c7;
  position: absolute;
  top: 0;
  left: 0;
  color: #fcfcfc;
  width: 30%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 0 4rem;
}

.close {
  position: fixed;
  top: 15px;
  left: 28%;
  background: #fcfcfc;
  color: #303030;
  padding: 0.7rem;
  box-shadow: 0 3px 7px #000;
  z-index: 100;
}
.sidebar form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-right: 2rem;
  margin-top: 5rem;
}

.form-name {
  display: flex;
  gap: 0.2rem;
}

input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: #fcfcfc;
  color: #323232;
  border: none;
}

.submit-btn {
  width: max-content;
  cursor: pointer;
  margin-top: 1rem;
  background: #303030;
  padding: 0.9rem 1.4rem;
  box-shadow: 0 3px 8px #292727;
}

.submit-btn:hover {
  background: #fcfcfc;
  color: #303030;
}

/* footer */

footer {
  background: #303030;
  height: 5rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

footer img {
  width: 30px;
}
